// Hues -----------------------------------
@syntax-uno:    250;
@syntax-duo:    30;


// Base colors -----------------------------------
@syntax-accent: hsl(@syntax-duo, 88%, 72%);
@syntax-fg:     @uno-2;
@syntax-bg:     hsl(@syntax-uno, 13%, 19%);
@syntax-guide:  lighten(@syntax-bg, 10%);



// Language colors -----------------------------------

// Uno hue
@uno-1: hsl(@syntax-uno, 100%, 96%);
@uno-2: hsl(@syntax-uno, 100%, 86%);
@uno-3: hsl(@syntax-uno,  96%, 78%);
@uno-4: hsl(@syntax-uno,  12%, 46%);

// Duo hue
@duo-1: hsl(@syntax-duo, 100%, 80%);
@duo-2: hsl(@syntax-duo,  72%, 62%);
@duo-3: hsl(@syntax-duo,   6%, 46%);
